.main-nav{

}
.main-nav-list{
list-style: none;
padding-left: 0;
display: flex;
}
.main-nav list li{
display: block;
}
.main-nav-list a{
    padding: 10px 15px;
    color: limegreen;
    text-decoration: none;
    text-transform: capitalize;
}
.main-sidebar{
    width: 320px;
    border: 1px solid black;
    padding: 15px;
}